/*


body {
	background-color: #0000FF; color: #FFFFFF; 
} 

#######

#spacerText { font-size: 0;
} 
ID syntax

#######

.spacerTextClass{
	font-size: 0;
} 
class syntax

#######


homework 4 ch 5 css file 

*/

@media (min-width: 600px) {
	nav ul {
		list-style-type: none;
		/*margin: 0px;*/
		padding-left: 0px;
		font-size: 1.2em;
		display: flex;
		justify-content: space-evenly;
		align-content: center;
		flex-wrap: nowrap;
	}

	
	
	section{
		padding-left: 2em;
		padding-right: 2em;
	}
	

	
	h2{
		grid-row: 1 / 2;
		grid-column: 1 / 5; 
	}
	
	section {
		grid-row: 2 / 3;
		grid-column: auto;
	}
	
	#special {
		grid-row: auto; 
		grid-column: 1 / 5;
	}
	
	footer {
		grid-row: auto;
		grid-column: 1 / 5;
	}
}

@media (min-width: 1024px) {
	
	
	#wrapper{
		margin: auto;
		width: 80%;
		box-shadow: 3px 3px 3px #333333;
		display: grid;
		grid-template-columns: 180px auto;
		grid-template-rows: auto;
	}
	nav ul{
			flex-direction: column;
			text-align: left;	
			padding-left: 1em;
		}
	
	nav li{
	padding-left: 1em;
	}
		
	header{
		grid-row: 1;
		grid-column: 1/5;
		
	}
	
	nav{
		grid-row: 2;
		grid-column: 1;
		text-align: left;
		padding-left: 1em;
	}
	
	
		
	
	nav div{
		grid-row: 1/3;
		grid-column: 1;
	}
	
	#yurthero{
		height: 300px;
		background-image:url("yurt.jpg");
		background-size: 100% 100%;
		
		
	}

	#trailhero{
		height: 300px;
		background-image: url("trail.jpg");
		background-size: 100% 100%;
		grid-row: 1/5;
		grid-column: 2/5;
		}
}

.resort {
	color: #1976D2;
	font-weight: bold;
}

.contact {
	font-size: 90%;
}
	
#wrapper {
	background-color: #90c7e3;
	background-image: linear-gradient(to top, #FFFFFF, #90C7E3);
	background-repeat: no-repeat;
	
	/*border-width: 1px;
	border-style: solid;
	border-color: #000033;
	
	margin: auto;*/

	/*width: 80%;
	min-width: 960px;
	max-width: 2048px;
	box-shadow: 3px 3px 3px #333333;*/
}

*{
	box-sizing: border-box;
}

nav {
	font-weight: bold;
	font-size: 100%;
	padding: 0em;
	/*loat: left;
	width: 160px;
	z-index: 0;
	top: 160px;
	position: absolute;*/
	text-align: center;

}

nav ul {
	list-style-type: none;
	/*margin: 0px;*/
	padding-left: 0px;
	font-size: 1.2em;
	
}

nav a:link{
	color: #5C7FA3;
	}

nav a:visited{
	color: #344873;
	}

nav a:hover{
	color: #a52a2a;
	}

nav a{
	text-decoration: none;
	}

nav header:link{
	color: #FFFFFF;
	}

nav header:visited{
	color: #FFFFFF;
	}

nav header:hover{
	color: #90c7e3;
	}

@media (max-width: 600px) {
nav li{
	border-style: none none solid none;
	border-width: 1px;
	border-color: #000080;
}
}
	
body {
	background-color: #eaeaea;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;

}
#homehero{
	height: 300px;
	background-image: url("coast2.jpg");
	background-size: 100% 100%;
	/*margin-left: 190px;*/
	
	/*<img src="coast.jpg"
	alt="A view of the Pacific Coast from Pacific Trail Resort"
	height="349"
	width="100%">*/
}

#yurthero{
	height: 300px;
	background-image:url("yurt.jpg");
	background-size: 100% 100%;
	/*margin-left: 190px;*/
	
	/*<img src="yurt.jpg"
	alt="One of our luxurious yurts"
	height="306"
	width="100%">
	*/
}

#trailhero{
	height: 300px;
	background-image: url("trail.jpg");
	background-size: 100% 100%;
	padding: 0em;
	/*margin-left: 190px;*/
	
	/* <img src="trail.jpg"
	alt="Get lost on one of our many hiking trails"
	height="329"
	width="100%">
	*/
}
header { 
	background-color: #002171; 
	color: #FFFFFF;
	

	/*height: 120px;
	padding-top: 30px;
	padding-left: 3em;*/
	text-align: center;
}

h1 {
	margin-top: 0px;
	font-family: Georgia, "Times New Roman",serif;
	/*font-size: 3em;*/
	letter-spacing: 0.25em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
h2 {
	color: #1976D2;
	font-family: Georgia, "Times New Roman",serif;
	text-shadow: 1px 1px 1px #CCCCCC;
}

h3 {
	font-family: Georgia, "Times New Roman",serif;
	color: #000033;
}

main ul {
	list-style-image: url(marker.gif);
}

	
dt {
	color:#002171;
}

footer{
	font-size:75%;
	font-style: italic;
	font-family: Georgia, "Times New Roman",serif;
	text-align: center;
	padding-bottom: 2em;
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
	/*margin-left: 190px;*/
	background-color: #FFFFFF;
}

main{
	background-color: #FFFFFF;
	/*margin-left: 190px;*/

	display: block;
	overflow: auto;
}

main h2{
	padding-top: 1px;
	padding-right: 20px;
	padding-left: 30px;
	padding-bottom: 20px;	
}

main h3{
	padding-top: 1px;
	padding-right: 20px;
	padding-left: 30px;
	padding-bottom: 20px;
}

main p{
	padding-top: 1px;
	padding-right: 20px;
	padding-left: 30px;
	padding-bottom: 20px;
}


section{
	float: left;
	width: 33%;
	padding-left: 2em;
	padding-right: 2em;
}
 
	
